<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</a>
        <a class="nav-item nav-link" id="nav-planta-tab" data-toggle="tab" href="planta" role="tab" aria-controls="nav-contact" aria-selected="false">Mi planta</a>
<a class="nav-item nav-link" id="nav-calendario-tab" data-toggle="tab" href="calendar" role="tab" aria-controls="nav-contact" aria-selected="false">Calendario</a>
        <a class="nav-item nav-link" id="nav-huerta-tab" data-toggle="tab" href="huerta" role="tab" aria-controls="nav-profile" aria-selected="false">Huerta</a>
    </div>
 </nav>


