{% extends 'base/base.html' %}
{% block content %}
<script charset="utf-8">

$(function() {
    $('#calendar').fullCalendar({

        resources: [
            { id: 'a', title: 'Ferti A' },
            { id: 'b', title: 'Ferti B' },
            { id: 'c', title: 'Ferti C' },
            { id: 'd', title: 'Ferti D' }
        ],
        header:{
            left: 'title',
            center: 'month, fertilizantes',
            right: 'today, prev, next'
        },
        views: {
            fertilizantes: {
                type: 'timeline',
                slotDuration: '00:15'
                }
            
            },

        eventSources: [
            {
                events: [
                {    
                    title  : 'Regar',
                    start  : '2018-05-28T12:30:30',
                    end : '2018-05-28T12:30:31',
                },
                {
                    title  : 'Regar',
                    start  : '2018-05-25',
                    end : '2018-05-25',
                },
                {
                    title  : 'Regar',
                    start  : '2018-05-23',
                    end    : '2018-05-23'
                },
           ],
           color: 'green',
           textColor: 'black'
          },
            {
                events: [
                {    
                    title  : 'Luz',
                    start  : '2018-05-28',
                    end : '2018-05-28',
                },
                {
                    title  : 'Luz',
                    start  : '2018-05-24',
                    end : '2018-05-24',
                },
                {
                    title  : 'Luz',
                    start  : '2018-05-21',
                    end    : '2018-05-21'
                },
           ],
           color: 'yellow',
           textColor: 'black',
           timeFormat: 'H(:mm)'
          } 



           ]})


});



</script>

<div class="container">
    <div id='calendar'></div>
</div>

{% endblock %}
