{% extends 'base/base.html'%}



{% block content %}
<h1> Problemas de conexión </h1>

<p> Hola, creo que no has conectado el arduino a la rasp... así no podré medir tu huerto :/</p>

Te comparto algunas acciones que puedes hacer:
<ul>
    <li> visita <a href=" https://0xacab.org/tecnohuerta/HuerTechno/wikis/conexiones">Manual de conexiones de TechnoHuerta</a> </li>
    <li> si crees que todo es muy dificil puedes mirar <a href=" http://ciudadseva.com/texto/ante-la-ley/"> Ante la ley</a> y dejar la vida pasar</li>
</ul>

{% endblock %}
