{% extends 'base/base.html'%}

{% block content %}

      
<div class="row">
    <div class="col-xl-2">
        
    </div>
    <div class="col-xl-1">
        <img src="https://png.icons8.com/color/50/000000/water.png">
    </div>
    <div class="col-xl-6">
         <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>
    </div>
    <div class="col-xl-1">
        <input id="regar" checked data-toggle="toggle" data-onstyle="primary" type="checkbox" >
    </div>
    <div class="col-xl-2">
        
    </div>
</div>

<div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-1">
        <img src="https://png.icons8.com/color/50/000000/fan.png">
    </div>
    <div class="col-xl-6">
         <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>
    </div>
    <div class="col-xl-1">
        <input id="fan" checked data-toggle="toggle" data-onstyle="primary" type="checkbox">
    </div>
    <div class="col-xl-2">
        
    </div>
</div>

<div class="row">
    <div class="col-xl-2"> </div>
    <div class="col-xl-1">
        <img src="https://png.icons8.com/color/50/000000/light.png">
    </div>
    <div class="col-xl-6">
         <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>
    </div>
    <div class="col-xl-1">
        <input id="luz"  checked data-toggle="toggle" data-onstyle="primary" type="checkbox">
    </div>
    <div class="col-xl-2">
        
    </div>
</div>

<script charset="utf-8" type="text/javascript" >


$('#regar').change( function(){
    if($(this).prop('checked')){
        $.get('/make/regar/on', function(){
            //on
        });    
    }else{
         $.get('/make/regar/off', function(){
            //on
        });    
   
    }
});

$('#fan').change( function(){
    if($(this).prop('checked')){
        $.get('/make/fan/on', function(){
            //on
        });    
    }else{
         $.get('/make/fan/off', function(){
            //on
        });    
   
    }
});

$('#luz').change( function(){
    if($(this).prop('checked')){
        $.get('/make/luz/on', function(){
            //on
        });    
    }else{
         $.get('/make/luz/off', function(){
            //on
        });    
   
    }
});

</script>



{% endblock %}
