<!DOCTYPE html>
<html>
    <head>
        <!-- <meta http-equiv="refresh" content="20"/> -->
        <title> {{ titulo }}  </title>
        
        <!-- js -->
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/utils.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/Chart.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-toggle.min.js')}}"></script>
       
        <!-- fullcalendar -->

        <script src="{{url_for('static', filename='js/fullcalendar/moment.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/fullcalendar/fullcalendar.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/fullcalendar/scheduler.min.js')}}"></script>

        <link rel='stylesheet' href="{{url_for('static', filename='css/fullcalendar/fullcalendar.min.css')}}" />
        <link rel='stylesheet' href="{{url_for('static', filename='css/fullcalendar/scheduler.min.css')}}" />

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-grid.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/canvas.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-toggle.min.css')}}">
    






    </head>
    <body>

        {% include 'navbar.html' %}
        <div>   
        
        {% block content %}
        {% endblock %}
        </div>
    </body>
<html>
