{% extends 'base/base.html'%}

{% block content %}

<div class="row">
    <div class="col-xl-1"> </div>
    <div class"col-xl-3">
        <div class="row">
            <div class="col-xl-12">
                <img class="img-thumbnail " src="{{ url_for('static', filename='img/mi_planta.jpg')}}" alt="Card image cap" width="304"  >
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                <!--img class="card-img-top" src=".../100px180/" alt="Card image cap"-->
                    <div class="card-body">
                        <h5 class="card-title">Información de la huerta</h5>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cultivo
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">Maceta 1</a>
                                <a class="dropdown-item" href="#">Maceta 2</a>
                            </div>
                        </div>
                    <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6" >
        <!--Columna de la descripción de la planta --> 
        <div class="card">
            <h5 class="card-header"> Especie </h5>
            <div class="card-body">
            <h5 class="card-title">Tomate </h5>
            <p class="card-text"> Solanum lycopersicum, conocido comúnmente como tomate, tomatera o jitomate, es una especie de planta herbácea del género Solanum de la familia Solanaceae; es nativa de Centro y Sudamérica y su uso como comida se habría originado en México hace unos 2500 años.5​ El nombre     proviene de la palabra náhuatl tomatl. </p>
            <a href="#" class="btn btn-primary">qué saben mis pares...</a>
        </div>
    
        <div class="card">
            <h5 class="card-header"> Variedad </h5>
            <div class="card-body">
            <h5 class="card-title"> Asesino</h5>
            <p class="card-text">  Un grupo de tomates modificados genéticamente, a consecuencia de un experimento llevado a cabo por el Gobierno, se rebela y comienza a atacar a la población. Para acabar con el problema, el Gobierno de Estados Unidos decide reunir a un grupo de élite quienes deben atajar el problema. 
            </p>
            <a href="#" class="btn btn-primary">qué saben mis pares...</a>
        </div>
    
         <div class="card">
            <h5 class="card-header"> Caracteristicas </h5>
            <div class="card-body">
                <div class="card-group">
                    <div class="card">
                        <!--img class="card-img-top" src=".../100px180/" alt="Card image cap"-->
                        <div class="card-body">
                            <h5 class="card-title">Genotipo</h5>
                            <p class="card-text">60% Humano/40% Tomate.</p>
                            <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
                        </div>
                    </div>
                    <div class="card">
                        <!--img class="card-img-top" src=".../100px180/" alt="Card image cap"-->
                        <div class="card-body">
                            <h5 class="card-title">Cruce</h5>
                            <p class="card-text"> Tomate podrido x Miembro de la NSA </p>
                            <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
                        </div>
                    </div>
                    <div class="card">
                        <!--img class="card-img-top" src=".../100px180/" alt="Card image cap"-->
                        <div class="card-body">
                            <h5 class="card-title"> Producción</h5>
                            <p class="card-text"> 500g/m2.</p>
                            <!--p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p-->
                        </div>
                    </div>
                </div>
            <a href="#" class="btn btn-primary">qué saben mis pares...</a>
        </div>
    
        
        
    </div>
</div>

{% endblock %}
