{% extends 'base/base.html'%}

{% block content %}
    {% from  "_macro_form.html" import render_field %}

<form>
    <div class="form-group">

        {{ render_field(form.nombre) }}
    </div>
    <div class="form-group">
        {{ render_field(form.especie) }}
    </div>
     <div class="form-group">
        {{ render_field(form.variedad) }}
    </div>
      <div class="form-group">
        {{ render_field(form.semilla) }}
    </div>
 <button type="submit" class="btn btn-primary">Subir</button>
</form>

    </form>

{% endblock %}
